S<ion-view>
  <ion-nav-title>
    Đổi Password
  </ion-nav-title>
  <ion-content>
    <form ng-submit="changePassword(formChangePassword)" name="formChangePassword" novalidate>
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Password Cũ</span>
          <input type="password" name="password" ng-model="data.password" placeholder="****" required compare-to="data.currentPassword">
          <div ng-messages="formChangePassword.password.$error" ng-show="formChangePassword.$submitted">
            <div ng-message="required" class="assertive">Xin vui lòng nhập Password hiện tại</div>
            <div ng-message="errorCompareTo" class="assertive">Password hiện tại không đúng</div>
          </div>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Password Mới</span>
          <input type="password" name="newPassword" ng-model="data.newPassword" placeholder="****" required>
          <div ng-messages="formChangePassword.newPassword.$error" ng-show="formChangePassword.$submitted">
            <div ng-message="required" class="assertive">Xin vui lòng nhập Password mới</div>
          </div>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Xác Nhận Password Mới</span>
          <input type="password" name="newPasswordConfirm" ng-model="data.newPasswordConfirm" compare-to="data.newPassword" placeholder="****" required>
          <div ng-messages="formChangePassword.newPasswordConfirm.$error" ng-show="formChangePassword.$submitted">
            <div ng-message="required" class="assertive">Xin vui lòng nhập Password mới</div>
            <div ng-message="errorCompareTo" class="assertive">Mật khẩu không trùng khớp</div>
          </div>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Đổi</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
