<ion-view>
  <ion-nav-title>
    {{ profile.sale_ename }}
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button icon ion-ios-gear-outline" ui-sref="changePassword"></button>
    <button class="button icon ion-log-out" ng-click="logOut()"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <form name="formReport" ng-submit="submitReport(formReport)">
      <div class="list">
        <label class="item item-input item-select balanced-bg">
          <span class="input-label light">
            Báo cáo
          </span>
          <select name="type" ng-model="report.type" ng-options="type as type.name for type in reportTypes track by type.value" ng-change="loadDataForReport()" required>
            <option value="">--Chọn loại báo cáo--</option>
          </select>
        </label>

        <label class="item item-input item-select" ng-if="isFieldAvailable('slkh')">
          <span class="input-label">
            Khách hàng
          </span>
          <select name="customer" ng-model="report.customer" ng-options="customer as customer.cust_vname for customer in customers track by customer.cust_no" required>
            <option value="">--Chọn khách hàng--</option>
          </select>
        </label>

        <label class="item item-input item-select" ng-if="isFieldAvailable('sltt') && checkRole([1,2])">
          <span class="input-label">
            Nhân viên
          </span>
          <select name="salemans" ng-model="report.saleman" ng-options="saleman as saleman.sale_ename for saleman in salemans track by saleman.sale_no" required>
            <option value="">--Chọn nhân viên--</option>
          </select>
        </label>

        <label class="item item-input item-select" ng-if="isFieldAvailable(['slkh', 'sltt'])">
          <span class="input-label">
            Loại
          </span>
          <select name="partKind" id="partKind" ng-model="report.partKind" ng-options="kind as kind.name for kind in partKinds track by kind.value">
            <option value="">--Hỗn hợp & Đậm đặc--</option>
          </select>
        </label>

        <label class="item item-input" ng-if="isFieldAvailable(['slkh', 'sltt'])">
          <span class="input-label">
            Từ ngày
          </span>
          <input type="date" name="from" ng-model="report.from" required max="{{report.to | date:'yyyy-MM-dd'}}" ng-max="report.to">
        </label>

        <label class="item item-input" ng-if="isFieldAvailable(['slkh', 'sltt'])">
          <span class="input-label">
            Đến ngày
          </span>
          <input type="date" name="to" ng-model="report.to" required min="{{report.from | date:'yyyy-MM-dd'}}" ng-min="report.from">
        </label>

        <label class="item item-input item-select" ng-if="checkRole([1]) && isFieldAvailable(['sltv', 'slgd'])">
          <span class="input-label">Vùng</span>
          <select name="area" id="area" ng-model="report.area" ng-options="area as area.name for area in areas track by area.value">
            <option value="">--Tất cả--</option>
          </select>
        </label>

        <label class="item item-input item-select" ng-if="checkRole([1]) && isFieldAvailable(['sltv'])">
          <span class="input-label">Trưởng vùng</span>
          <select name="chief" id="chief" ng-model="report.chief" ng-options="chief as chief.sale_ename for chief in chiefs track by chief.sale_no" required>
            <option value="">--Chọn trưởng vùng--</option>
          </select>
        </label>

        <label class="item item-input item-select" ng-if="isFieldAvailable(['sltv'])">
          <span class="input-label">Nhãn</span>
          <select name="flag" id="flag" ng-model="report.flag" ng-options="flag as flag.name for flag in flags track by flag.value">
            <option value="">--Tất cả--</option>
          </select>
        </label>

        <label class="item item-input" ng-if="isFieldAvailable(['sltv'])">
          <span class="input-label">Năm</span>
          <input type="month" name="inYear" id="inYear" required ng-model="report.inYear">
        </label>

        <label class="item item-input item-select" ng-if="isFieldAvailable(['slgd'])">
          <span class="input-label">Chu kỳ</span>
          <select name="period" id="period" ng-model="report.period" ng-options="per as per.name for per in periods track by per.value" required>
            <option value="">--Chọn chu kỳ--</option>
          </select>
        </label>

        <label class="item item-input item-select" ng-if="isFieldAvailable(['slgd'])">
          <span class="input-label">P1</span>
          <select name="p1" id="p1" ng-model="report.p1" ng-options="p as p.p1_name for p in p1 track by p.p1" ng-change="getP2()">
            <option value="">--Tất cả--</option>
          </select>
        </label>

        <label class="item item-input item-select" ng-if="isFieldAvailable(['slgd'])">
          <span class="input-label">P2</span>
          <select name="p2" id="p2" ng-model="report.p2" ng-options="p as p.p2_name for p in p2 track by p.p2" ng-change="getProduct()">
            <option value="">--Tất cả--</option>
          </select>
        </label>

        <label class="item item-input item-select" ng-if="isFieldAvailable(['slgd'])">
          <span class="input-label">Sản phẩm</span>
          <select name="product" id="product" ng-model="report.product" ng-options="p as p.product_vname for p in products track by p.product_no">
            <option value="">--Tất cả--</option>
          </select>
        </label>

        <label class="item item-input" ng-if="isFieldAvailable(['slgd'])">
          <span class="input-label">Ngày</span>
          <input type="date" name="directorDate" id="directorDate" ng-model="report.directorDate" required>
        </label>

        <div class="item">
          <button type="submit" class="button button-assertive button-block">XUẤT BÁO CÁO</button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
