<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <h1 class="title">Login</h1>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin(formLogin)" name="formLogin">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Sale No.</span>
          <input type="text" name="username" ng-model="loginData.username" placeholder="please enter your Sale No." required>
          <div ng-messages="formLogin.username.$error" ng-show="formLogin.$submitted">
            <div ng-message="required" class="assertive">Xin vui lòng nhập Sale No.</div>
          </div>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Password</span>
          <input type="password" name="password" ng-model="loginData.password" placeholder="please enter your password" required>
          <div ng-messages="formLogin.password.$error" ng-show="formLogin.$submitted">
            <div ng-message="required" class="assertive">Xin vui lòng nhập Password</div>
          </div>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Đăng nhập</button>
        </label>
        <label class="item text-center">
          <span style="font-size: 10px;">Device ID: <br>{{deviceId}}</span>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
