<ion-view>
  <ion-nav-title>Sản lượng khách hàng</ion-nav-title>
  <ion-content scroll="false">
    <table id="table-slkh" grid-view-scroll column-to-freeze="1" class="table">
      <tr class="balanced-bg GridviewScrollHeader">
        <th scope="col" class="light" ng-repeat="idx in data.index">{{ idx }}</th>
      </tr>
      <tr ng-repeat="(key, value) in data.data" class="GridviewScrollItem">
        <td class="" ng-repeat="c in value track by $index">{{ c }}</td>
      </tr>
    </table>
  </ion-content>
</ion-view>
